h1 {
    font-family: "press Start 2P", "consolas", sans-serif;
    color: chartreuse;
    width: 600px;
    height: 50px;
    /* background: linear-gradient(to right,skyblue,white);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

body{
    background-color: Black;
}