body{
    background-color: #FFFFFF;
}

#lbl1{
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    top: 23px;
    left:129px;
}

#lbl2{
    font-family: Raleway;
    width: 1000px;
    font-weight: 600;
    font-size: 210px;
    position: absolute;
    top: 50px;
    left:132px;
    letter-spacing: -2.5px;
    line-height: 247px;
    color: #181818;
}

#img1{
    position: absolute;
    top: 245px;
    left:1208px;
    border-radius: 23px;
    height: 380px;
}

#img2{
    position: absolute;
    /*width: 500px;*/
    height: 605px;
    left: 1063px;
    top: 15px;


}

.headerNav{
    font-family: Roboto;
    font-weight: 550;
    font-size: 17px;
    position: absolute;
    color: #3C3535;
    top: 15px;
    left:1004px;
}

.headerNav ol{
    list-style-type: none;
}

.headerNav ol li{
    display: inline-block;
    padding: 0 3px;
    margin-left: 25px;
    color: #3C3535;
}

#hashtagAside{

    position: absolute;
    width: 850px;
    height: 165px;
    top: 690px;
    left: 890px;

}

.hashtags{
    list-style-type: none;
    font-family: Roboto;
    font-weight: 550;
    font-size: 22px;
    display: inline-block;
    margin: 13px;

}

#name{
    position: absolute;
    width: 340px;
    height: 24px;
    left: 1400px;
    top: 175px;

    font-family: Allura;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;

    color: #000000;

    mix-blend-mode: darken;
    transform: rotate(16.6deg);
}

#socialgroups{
    position: absolute;
    top: 747.83px;
    left: 1856px;
}

#socialgroups img{
    display: list-item;
    margin-bottom: 20px;
}

#intro{
    position: absolute;
    top: 965px;
    left: 0px;
}