::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    margin: 0px;
}

.sections {
    width: 100vw;
    height: 100vh;
    position: relative
}

header {
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 0px;
}

header > h1 {
    display: inline-block;
    font-size: 30px;
    margin: 0px;
    position: relative;
    top: 23px;
    left: 128px;
    font-weight: 500;
}

header > nav {
    display: inline-block;
    margin-left: 46vw;
    margin-right: 1.5vw;
    padding-top: 30px;
}

header > nav > ul {
    margin: 0px;
}

header > nav > ul > li {
    display: inline-block;
    list-style: none;
    font-size: 17px;
    mix-blend-mode: darken;
    padding-right: 35px;
    cursor: pointer;
}

.sections {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.sections:first-child > img:first-child {
    position: absolute;
    width: 515px;
    left: 1208px;
    top: 250px;
    border-radius: 23px;
}

.sections:first-child > img:nth-child(2) {
    position: absolute;
    height: 600px;
    width: 500px;
    left: 1064px;
    top: 18px;
}

.sections:first-child > h1:nth-child(3) {
    position: absolute;
    left: 1386px;
    top: 178px;
    color: black;
    font-family: 'Allura', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    mix-blend-mode: darken;
    transform: rotate(16.6deg);
}

.sections:first-child > aside:nth-child(4) > h1 {

    position: absolute;
    left: 132px;
    top: 258px;
    margin: 0px;
    width: 900px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 210px;
    line-height: 247px;

    color: #181818;

    mix-blend-mode: normal;
}

.sections:first-child > aside:nth-child(5) {
    display: flex;
    flex-flow: row;
    position: absolute;
    bottom: 140px;
    right: 205px;
    /*justify-content: center;*/
}

.sections:first-child > aside:nth-child(5) > ol {
    list-style: none;
    padding-left: 90px;
}

.sections:first-child > aside:nth-child(5) > ol > li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    mix-blend-mode: darken;
}

.sections:first-child > div {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 34px;
    bottom: 10px;
    right: 25px;
}

.sections:first-child > div > img {
    padding-bottom: 20px;
}

.sections:nth-child(2) > section {
    width: calc(100% / 2);
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.sections:nth-child(2) > section:nth-child(1) > img:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
}

.sections:nth-child(2) > section:nth-child(1) > img:nth-child(2) {
    position: absolute;
    left: 220px;
    top: 70px;
    z-index: 1;
}

.sections:nth-child(2) > section:nth-child(2) {
    left: calc(100% / 2);
    color: #FFFFFF;
    background-color: #181818;
    font-family: 'Roboto', sans-serif;
}

.sections:nth-child(2) > section:nth-child(2) > h1:first-child {
    font-weight: 800;
    font-size: 60px;
    position: relative;
    left: 270px;
    top: 17px;
}

.sections:nth-child(2) > section:nth-child(2) > p {
    font-weight: 300;
    font-size: 25px;
    width: 450px;
    position: relative;
    left: 270px;
    top: -20px;
}

.sections:nth-child(3) {
    text-align: center;
}

.sections:nth-child(3) > h1:first-child {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 38px;
    display: inline-block;
    text-align: center;
}

.sections:nth-child(3) > img:nth-child(2) {
    transform: rotate(-180deg);
    /*width: 647px;*/
    height: 491px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.sections:nth-child(3) > section:first-of-type {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.sections:nth-child(3) > section:first-of-type > div {
    text-align: center;
}

.sections:nth-child(3) > section:first-of-type > div > span:first-of-type {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 27px;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    right: 30px;
    bottom: 20px;
    text-align: center;
}

.sections:nth-child(3) > section:first-of-type > div > span:last-of-type {

    width: 92px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #4B4444;

}

.sections:nth-child(3) > section:first-of-type > div > p {
    position: relative;
    width: 189px;
    height: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    color: #262222;
}

.sections:nth-child(3) > section:first-of-type > div > img {
    height: 52px;
    position: relative;
    left: -50px;
}

.sections:nth-child(3) > section:first-of-type > div > img:last-of-type {
    height: 20px;
    position: relative;
    left: 15px;
    top: 5px;
}

.sections:nth-child(3) > section:nth-of-type(2) {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.sections:nth-child(3) > section:nth-of-type(2) > img {
    height: 41px;
    padding-left: 20px;
}

.sections:nth-child(3) > h1:nth-of-type(2) {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.sections:nth-child(3) > section:nth-of-type(3) {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
}

.sections:nth-child(3) > section:nth-of-type(3) > img {
    padding: 30px;
}

.sections:nth-child(3) > section:nth-of-type(3) > img:nth-of-type(4) {
    padding: 0px;
    position: absolute;
    left: 350px;
    transform: rotate(180deg);
}

.sections:nth-child(3) > section:nth-of-type(3) > img:nth-of-type(5) {
    padding: 0px;
    position: absolute;
    right: 350px;
}

.sections:nth-child(4) > img:first-child {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
    position: absolute;
}

.sections:nth-child(4) > div {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 1200px;
}

.sections:nth-child(4) > div > h1:first-of-type {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 67px;

    background: url("../../assets/images/f8eba5_460d0bdab99f487188a17916c22a9abe_mv2.webp");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 89px 73px;

    position: absolute;
    bottom: 25px;
    left: 75px;
}

.sections:nth-child(4) > div > img:first-of-type {
    position: absolute;
    top: 105px;
    left: 75px;
}

.sections:nth-child(4) > div > img:last-of-type {
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.sections:nth-child(4) >section:first-of-type{
    height: 80%;
    width: 650px;
    position: absolute;
    right: 0;
}
.sections:nth-child(4) >section:first-of-type>h1:first-of-type{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    background: url("../../assets/images/f8eba5_460d0bdab99f487188a17916c22a9abe_mv2.webp");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

    background-size: 300px 66px;
}

.sections:nth-child(4) >section:first-of-type>p{
    width: 520px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 22px;
    color: #E3E1E1;
}
.sections:nth-child(4) >section:first-of-type>h3{
    margin: 0px;
    height: 100px;
}
.sections:nth-child(4) >section:first-of-type>h3>a{
    text-decoration: none;
    cursor: pointer;
    color: #1F6E9A;
    z-index: 30;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.sections:nth-child(4) >section:first-of-type>h3>a>i{
    color: white;
    font-size: 30px;
    padding-right: 10px;
}

.sections:nth-child(4) >div:nth-of-type(2){
    background-color: white;
    display: flex;
}